* {
  box-sizing: border-box;
  background: black;
  text-decoration: none;
}

.title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25vh;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
}

.author {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  padding-top: 10px;
}

.start {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 36px;
}

.start:hover{
  transform: scale(2.0);
}
